:root {
  --purewhite-svg: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(201deg) brightness(106%) contrast(106%);
  --mainblue-svg: brightness(0) saturate(100%) invert(19%) sepia(77%) saturate(1541%) hue-rotate(223deg) brightness(97%) contrast(104%);
  --dark: brightness(0) saturate(100%) invert(11%) sepia(2%) saturate(1343%) hue-rotate(155deg) brightness(92%) contrast(88%);
  --white: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(2470%) hue-rotate(237deg) brightness(116%) contrast(80%);
  --mainblue: #333399;
  --subblue: #7da7d9;
  --dark-palette: #252728;
  --white-palette: #e5e5e5;
}
.content {
  p, ul, li, em, strong, a{
    font-size: 0.875rem;
    font-family: "DM-Sans-Regular", sans-serif;
  }
  a {
    color: var(--subblue);
  }
  h5 {
  font-size: 0.875rem;
  font-family: "DM-Sans-Bold", sans-serif;
  }
  li {
    padding-bottom: 0.5rem;
  }
}
.content > h5 {
  padding: 0.75rem 0;
}
.content > p {
  position: relative;
  padding-left: 1rem;
}
.content > ul {
  padding-left: 1rem;
  > li > ul {
    padding-left: 1rem;
    list-style-type: disc;
  }
}
.sublist-content {
  list-style-type: none;
  > li > ul {
    padding-left: 1rem;
    list-style-type: disc;
  }
}
.collapsible-header {
  user-select: none;
  cursor: pointer;
  position: relative;
  border-radius: 4px 4px 0 0;
  padding-left: 0.2rem;

}
.collapsible-header::after {
  position: absolute;
  content: url(assets/ico/light-mode/collapse-down.svg);
  top: -5%;
  margin-left: 0.2rem;
  filter: var(--dark)
}
.collapsible-header:hover {
  background-color: #7da7d9;
  color: white;
}
.collapsible-header:hover::after {
  filter: initial;
}
.open {
  background-color: #7da7d9;
  color: white;
}
.open::after {
  transform: rotate(180deg);
  top: -30%;
  filter: initial;
}
.open:hover::after {
  transform: rotate(180deg);
  filter: initial;
}
.collapsible-panel {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
}
.elink {
  content: url(assets/ico/light-mode/link2.svg);
  cursor: pointer;
  padding-right: 0.2rem;
}
@media only screen and (min-width: 1025px) {
  .collapsible-header::after {
    top: 10%;
  }

  .open::after {
    top: -10%;
  }
}