:root {
  --gold: brightness(0) saturate(100%) invert(96%) sepia(9%) saturate(1857%) hue-rotate(350deg) brightness(95%) contrast(87%);
  --dark: brightness(0) saturate(100%) invert(11%) sepia(2%) saturate(1343%) hue-rotate(155deg) brightness(92%) contrast(88%);
  --white: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(2470%) hue-rotate(237deg) brightness(116%) contrast(80%);
  --gold-palette: #e3d585;
  --dark-palette: #252728;
  --white-palette: #e5e5e5;
}
.toggledark {
  background-color: #121212;
  background-image: url(gallery/480p/mainbgdark-mobile.png);

  .header {
    background-color: var(--dark-palette);
  }
  .sidebar-open {
    filter: var(--gold);
  }
  .gctlogo {
    filter: var(--gold);
  }
  .applogo {
    filter: var(--gold);
  }
  .search-btn {
    filter: var(--gold);
  }
/*sidebars*/
  .list-header {
    h4 {
      color: var(--gold-palette);
    }
  }
  .list-name {
    a {
      color: var(--white-palette);
    }
    > li:hover {
      background-image: linear-gradient(to right, rgba(227, 213, 133, 1),rgba(227, 213, 133, 0));
      a {
        color: var(--dark-palette);
      }
    }
    > li::before {
      filter: brightness(0) saturate(100%) invert(77%) sepia(16%) saturate(855%) hue-rotate(14deg) brightness(108%) contrast(90%);
    }
    > li:hover::before {
      filter: brightness(0) saturate(100%) invert(10%) sepia(12%) saturate(279%) hue-rotate(155deg) brightness(93%) contrast(86%);
    }
  }
  .togglemobile, .toggledesktop {
    span {
      color: var(--gold-palette);
    }
  }
  .mobile-sidebar {
    background-color: var(--dark-palette);
  }
  .desktop-sidebar {
    background: rgba(21, 20, 20, 0.19);
  }
  .list-header:first-of-type {
    border-color: var(--gold-palette);
  }
/*main*/
  .main-title {
    img {
      filter: var(--gold); 
    }
  }
  .viewcard {
    background-color: var(--dark-palette);
    transition: none;
  }
  .viewcard::after {
    filter: var(--gold); 
  }
  .viewcard:hover {
    background-color: var(--gold-palette);
    .card-name {
      h4 {
        color: var(--dark-palette);
      }
    }
  }
  .viewcard:hover::after {
    filter: var(--dark);
  }
  .card-name {
    h4 {
      color: var(--white-palette);
    }
  }
/*================PROCESS CSS===================*/
  .process-header {
    background-image: url(gallery/480p/processheaderdark-mobile.png);
    background-color: var(--gold-palette);
    color: var(--dark-palette);
    img {
      filter: var(--dark);
    }
  }
  .process-title {
    color: var(--dark-palette);
  }
  .procedure {
    h3 {
      color: var(--white-palette);
    }
  }
  .container {
    background-color: var(--dark-palette);
  }
  .accordion-header {
    background-color: var(--dark-palette);
  }
  .accordion-label {
    h4 {
      color: var(--gold-palette);
    }
  }
  .accordion-label::before {
    filter: var(--gold);
  }
  .accordion-label::after {
    filter: var(--gold);
  }
  .accordion-panel {
    color: var(--white-palette);
  }
  .active {/*crucial shit*/
    .accordion-header {
      background-color: var(--gold-palette);
    }
    .accordion-label {
      h4 {
        color: var(--dark-palette);
      }
    }
    .accordion-label::after {
      filter: var(--dark);
    }
    .accordion-label::before {
      filter: var(--dark);
    }
  }
  .done {
    .accordion-label::before {
      filter: var(--gold); 
    }
  }
  .done.active {
    .accordion-label::before {
      filter: var(--dark);
    }
  }
  .next-button {
    color: var(--dark-palette);
    background-color: var(--gold-palette);
  }
  .back-button {
    border-color: var(--gold-palette);
    color: var(--gold-palette);
    background-color: var(--dark-palette);
  }
  /*===========CONTENT CSS==============*/
  .collapsible-header::after {
    filter: var(--white);
  }
  .collapsible-header:hover {
    background-color: var(--gold-palette);
    color: var(--dark-palette);
  }
  .collapsible-header:hover::after {
    filter: var(--dark);
  }
  .open {
    background-color: var(--gold-palette);
    color: var(--dark-palette);
  }
  .open::after {
    filter: var(--dark);
  }
  .open:hover::after {
    filter: var(--dark);
  }
  /*============GLOSSARY CSS==============*/
  .glossary-header {
    background-image: url(gallery/480p/processheaderdark-mobile.png);
    background-color: var(--gold-palette);
    color: var(--dark-palette);
  }
  .group-section {
    color: var(--white-palette);
  }
  .term {
    background-color: var(--dark-palette);
  }
  .term-title {
    color: var(--gold-palette);
  }
  .term-desc {
    color: var(--white-palette);
  }
  .highlight {
    background-color: var(--gold-palette);
    > .term-title {
      color: var(--dark-palette);
    }
    > .term-desc {
      color: var(--dark-palette);
    }
  }

  /*=-=-=-=-=-=-=-=RESPONSIVE SCREENS=-=-=-=-=-=-=-=*/
  @media only screen and (min-width: 481px) and (max-width: 1024px) {
    .process-header {
      background-image: url(gallery/768p/processheaderdark-tab.png);
    }
    .glossary-header {
      background-image: url(gallery/768p/processheaderdark-tab.png);
    }
  }
  @media only screen and (min-width: 1025px) {
    .header {
      .school-name {
        color: var(--gold-palette);
      }
    }
    .process-header {
      background-image: url(gallery/1152p/processheaderdark-desktop.png);
    }
    .glossary-header {
      background-image: url(gallery/1152p/processheaderdark-desktop.png);
    }
  }
}