.step-container {
  display: block;
  width: 100%;
  margin: 0 10px;
}

.step {
  position: relative;
  display: flex;
  align-items: flex-start;
  font-size: 1.2em;
  border-bottom: 1px solid black;
}

.step:first-of-type {
  border-top: none;
}


.radio-container {
  position: absolute;
  top: 13px;
  left: 5px;
}

.radio-btn {
  display: block;
  height: 30px;
  width: 30px;
  opacity: 1;
  cursor: pointer;
}

.container-two,
.container-three,
.container-four,
.container-five,
.container-six,
.container-seven,
.container-eight,
.container-nine {
  opacity: 0.3;
}

.step-title {
  width: 100%;
  padding: 5px 0;
}

.radio-label {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px 10px 50px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  user-select: none;
  p {
    display: block;
    font-weight: 700;
  }
  
}

.radio-label:after {
  content: "⯆";
}

.radio-label:hover {
  background-color: lightgray;
}


.step-collapsible {
  margin: 0 0;
  padding-left: 50px;
  border-top: none;
  max-height: 0;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  transition: all 0.5s ease-out;
}

.step-collapsible .step-location,
.step-collapsible .step-requirement,
.step-collapsible .step-process {
  background-color: rgb(214, 214, 214);
  padding: 5px;
  width: 100%;
  user-select: none;
  margin: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.expand, .step-title:hover {
  background-color: none;
}

.expand:after {
  content: "⯅";
}












/*tablet mode*/
@media only screen and (min-width: 481px) and (max-width: 960px) {

}


/*desktop mode*/
@media only screen and (min-width: 961px) {

  
  .step-collapsible .step-location,
  .step-collapsible .step-requirement,
  .step-collapsible .step-process {
    width: 30%;
    margin: auto 1%;
    display: flex;
    justify-content: center;
  }
}