.step-container {
  display: block;
  width: 100%;
  margin: 0 10px;
}

.step {
  padding: 10px 0;
  font-size: 1.2em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.step:first-of-type {
  border-top: none;
}

.radio-container {
  position: absolute;
  left: 15px;
}

.radio-btn {
  display: block;
  height: 30px;
  width: 30px;
  opacity: 1;
  cursor: pointer;
}

.container-two,
.container-three,
.container-four,
.container-five,
.container-six,
.container-seven,
.container-eight,
.container-nine {
  opacity: 0.3;
}

.step-title {
  width: inherit;
  margin-left: 50px;
  margin-bottom: 10px;
}

.radio-label {
  cursor: pointer;
  width: 100%;
}

.step-collapsible {
  max-height: 0;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  transition: max-height 0.5s ease-out;
}

.step-collapsible .step-location,
.step-collapsible .step-requirement,
.step-collapsible .step-process {
  border-top: 1px solid black;
  padding: 5px 0;
  width: 100%;
}

.expand, .step-title:hover {
  background-color: rgb(131, 131, 131);
}











/*tablet mode*/
@media only screen and (min-width: 481px) and (max-width: 960px) {

}


/*desktop mode*/
@media only screen and (min-width: 961px) {
  .step-title {
    border-bottom: 1px solid black;
  }
  
  .step-collapsible .step-location,
  .step-collapsible .step-requirement,
  .step-collapsible .step-process {
    border-top: none;
    border-left: 1px solid black;
    padding-left: 10px;
    width: 33%;
  }
}