@font-face {
  font-family: "Poppins-Regular";
  src: url(assets/font/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins-Medium";
  src: url(assets/font/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(assets/font/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: "DM-Sans-Regular";
  src: url(assets/font/DM_Sans/DMSans-Regular.ttf);
}

@font-face {
  font-family: "DM-Sans-Medium";
  src: url(assets/font/DM_Sans/DMSans-Medium.ttf);
}

@font-face {
  font-family: "DM-Sans-Bold";
  src: url(assets/font/DM_Sans/DMSans-Bold.ttf);
}
/*FONT ENDS HERE*/

:root {
  --purewhite-svg: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(201deg) brightness(106%) contrast(106%);
  --mainblue-svg: brightness(0) saturate(100%) invert(19%) sepia(77%) saturate(1541%) hue-rotate(223deg) brightness(97%) contrast(104%);
  --mainblue: #333399;
  --subblue: #7da7d9;
  --smokewhite: #f3f4f6;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-size: 16px;
  font-family: "Poppins-Regular", Helvetica, sans-serif;
}

body {
  background-color: #F3F4F6;
  background-image: url(assets/gallery/480p/mainbg-mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
h5, p, span {
  font-size: 0.875rem;
}


a {
  text-decoration: none;
  color: black;
}

.header {
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
  .school-name {
    display: none;
  }
}

.togglemobile, .toggledesktop {
  left: 0;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  span {
    color: var(--mainblue);
  }
}

.togglemobile {
  position: relative;
  top: 0rem;
  height: 4rem;
  align-items: center;
}
.togglemobile::after
{
  position: absolute;
  bottom: 0;
  content: "";
  width: calc(100% - 2rem);
  border-bottom: 2px solid var(--mainblue);
}
.toggledesktop {
  top: 4rem;
  display: none;
  position: fixed;
  width: 25%;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--subblue);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 0.75rem;
}
.slider::before {
  position: absolute;
  content: "";
  height: 1.2rem;
  width: 1.2rem;
  background-color: white;
  left: 0.15rem;
  bottom: 0.15rem;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 0.6rem;
}
.toggledark-btn:checked + .slider {
  background-color: #e3d585;
}
.toggledark-btn:checked + .slider::before {
  background-color: #252728;
  -webkit-transform: translateX(1.5rem);
  -ms-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
}
.applogo {
  content: url(assets/ico/light-mode/logoonly-blue.svg);
  width: 2rem;
  margin-left: 0.8rem;
}
.applogo-d {
  content: url(assets/ico/brand/logo-name.svg);
  height: 1rem;
  margin-left: 0.8rem;
  display: none;
}
.help-btn {
  > i {
    content: url(assets/ico/light-mode/help.svg);
    display: block;
    height: 2rem;
  }
  position: absolute;
  margin-right: 0.8rem;
  right: 0;
}
.search {
  display: flex;
  height: 2.5rem;
  justify-content: flex-end;
  margin: 1rem;
}
.search-desktop {
  display: none;
  position: absolute;
  left: 0;
  top: 7rem;
  height: 2.5rem;
  width: 25%;
  justify-content: flex-end;
  margin: 1rem 0;
  padding: 0 1rem;
}
.search-bar {
  padding: 0.5rem;
  padding-left: 1.25rem;
  border: none;
  background-color: #F3F4F6;
  border-radius: 1.25rem;
  width: 100%;
}
.search-bar:focus {
  outline-style: solid;
  outline-color: var(--mainblue);
  outline-width: thin;
  outline-offset: -1px;
}
/*sidebar starts here*/

.mobile-sidebar {
  position: fixed;
  top: 0rem;
  left: 0;
  z-index: 2;
  display: block;
  white-space: nowrap;
  height: 100vh;
  width: 0;
  background-color: white;
  transition: 0.2s ease-out;
  overflow-x: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2)
}

.sidebar-open {
  content: url(assets/ico/light-mode/sidebaropen-blue.svg);
  cursor: pointer;
  width: 2rem;
}
.desktop-sidebar {
  position: fixed;
  top: 10.5rem;
  left: 0;
  z-index: 2;
  display: none;
  white-space: nowrap;
  height: 100vh;
  width: 25%;
  overflow-y: hidden;
  border-bottom: 1px solid var(--mainblue);
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.19);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
}
.desktop-sidebar:hover {
  overflow-y: auto;
  -ms-overflow-style: auto;
  scrollbar-width: thin;
}
.nav-list {
  padding: 0 1rem;
  margin-bottom: 2rem;
}
.list-header {
  position: relative;
  list-style-type: none;
  padding: 1rem 0;
  h4 {
    color: var(--mainblue);
    padding-left: 3rem;
    position: relative;
  }
}
.list-header:first-of-type {
  border-bottom: 2px solid var(--mainblue);
}

.doclist {
  > h4::before {
    content: url(assets/ico/light-mode/folder.svg);
    position: absolute;
    left: 0.5rem;
    top: -10%;
  }
}
.loclist {
  > h4::before {
    content: url(assets/ico/light-mode/location.svg);
    position: absolute;
    left: 0.5rem;
    top: -10%;
  }
}

.list-name {
  > li {
    position: relative;
    list-style-type: none;
    border-radius: 6px;
    cursor: pointer;
    list-style-position: inside;
    margin: 0.5rem 0;
    -webkit-transition: .3s;
    transition: .3s;
    a {
      display: flex;
      padding-left: 1rem;
      margin-right: 0.5rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      width: inherit;
      color: var(--mainblue);
      overflow-x: hidden;
      font-family: "Poppins-Regular",  Helvetica, sans-serif;
    }
  }
  > li:hover {
    -webkit-transform: translateX(0.5rem);
    -ms-transform: translateX(0.5rem);
    transform: translateX(0.5rem);
    /* background-color: var(--mainblue); */
    background-image: linear-gradient(to right, rgba(51, 51, 153, 1),rgba(51, 51, 153, 0));
    a {
      color: white;
    }
  }
}

.disable-link {
  pointer-events: none;
}


/*sidebar ends here*/


/*main title starts here*/
.main-title {
  display: block;
  margin: 1rem 0;
  i {
    content: url(assets/ico/light-mode/gct-web.png);
    display: block;
    width: 15%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  img {
    content: url(assets/ico/light-mode/maintitle-blue.svg);
    display: block;
    width: 80%;
    margin: 0 auto;
  }
}


/*main page starts here*/
.main-page {
  /*background-color: #E8EAED;*/
  position: relative;
  min-height: 1%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  transition: opacity 0.2s;
}

.header-placeholder {
  width: 100%;
  height: 4rem;
}
.section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 0.5rem 1.5rem;/* dont delete this important line lmao */
}

.viewcard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  width: 100%;
  height: 5rem;
  border-radius: 1.25rem;
  cursor: pointer;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);

}
.viewcard:hover {
  background-color: var(--mainblue);
  .card-name {
    h4 {
      color: white;
    }
  }
}
.viewcard .card-image {
  margin: 0.75rem;
  width: 3.5rem;
  border-radius: 0.75rem;
  transition: transform 0.5s;
  overflow: hidden;
}
.card-name {
  h4 {
    font-family: "Poppins-Bold";
    color: var(--mainblue);
  }
  margin-left: 0.75rem;
}
.viewcard::after {
  content: url(assets/ico/light-mode/enter.svg);
  position: absolute;
  right: 1rem;
  margin-top: 0.41rem;
  filter: var(--mainblue-svg)
}
.viewcard:hover::after {
  filter: var(--purewhite-svg)
}

/*tablet screen*/
@media only screen and (min-width: 481px) and (max-width: 1024px){
  body {
    background-image: url(assets/gallery/768p/mainbg-tab.png);
  }
  .main-title {
    margin-top: 2rem;
  }

  .section {
    width: 100%;
  }
}

/*desktop screen*/
@media only screen and (min-width: 1025px) {
  body {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    background-size: 100%;
    background-position: 100% -10%;
    background-image: url(assets/gallery/1152p/mainbg-desktop.png);

  }
  .main-title {
    display: flex;
    width: 75%;
    min-height: fit-content;
    padding: 0 10%;
    i {
      display: inline-block;
      width: 25%;
      margin: 0;
      margin-right: 5%;
    }
    img {
      display: inline-block;
      width: 70%;
    }
  }
  .main-page {
    margin: 0 2.5%;
    width: 70%;
    /*box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);*/
  }

  .header {
    .applogo {
      display: none;
    }
    .applogo-d {
      display: block;
    }
    .school-name {
      display: block;
      margin-left: 0.8rem;
      color: var(--mainblue);
      font-family: "Poppins-Bold";
    }
  }
  .toggledesktop {
    display: flex;
  }
  .search-bar {
    background-color: white;
  }
  .section {
    width: 50%;
    padding: 0.5rem .5rem;
  }

  .mobile-sidebar, .sidebar-open {
    display: none;
  }

  .desktop-sidebar {
    display: block;
  }
  .sidebar-footer {
    height: 20vh;
  }
  .main-page .header-placeholder {
    height: 90px;
  }
  .search-desktop {
    display: flex;
  }
}